<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Questions</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
</head>
<body>

<!-- Navbar -->
<div class="navbar">
    <div>
        <a href="/">Home</a>
        <a href="/questions">Questions</a>
    </div>
    <button id="toggle-btn" class="toggle-btn" onclick="toggleDarkMode()">Toggle Dark Mode</button>
</div>

<div class="container">
    <h1>Here are the available questions:</h1>
    <ul>
        <li th:each="question : ${questions}">
            <a th:href="@{${question.url}}" th:text="${question.title}"></a>
        </li>
    </ul>
</div>

<script src="/js/dark-mode.js"></script>
</body>
</html>